* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
    background-size: cover;
}


body {
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    background-image: linear-gradient(-25deg, #c9d15b/* #f2f2f2 */50%, #a1cf64/* #f7ba37*/ 50%);
    display: flex;
    align-items: center;
    background-size: cover;
}
.contenido{
	background-color: rgb(231, 221, 102);
	width: 90%;
	max-width: 1200px;
	margin: 40px auto;
	padding: 20px;
	border-radius: 10px;
}
nav{
    width: 100%;
    height: auto;
    background-color: #9b9b99/* #afafab*/;
    vertical-align: top;
    text-align: center;
    
}

img{
    border-radius: 7px;
    margin-left: 860px;
    margin-bottom: 1px;
    background-size: cover;
    width: 25%;
    height:100%;

}

header {

    width: 100%;
    height: 100px;
    text-align: left;
    background-image: url(../img/logo2.jpg);
    margin-bottom: 10px;
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;

	/*display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 80px;*/
}
#menu a {
	font-size: 22px;
    border-bottom: 2px solid transparent;
    margin-left: 40px;
    color: rgb(243, 243, 236);
	text-decoration: none;
	transition: all 0.3s ease;

    display: inline-block;
    padding: 10px 20px;
	border-radius: 100px;
    margin-right: 10px;
    text-decoration: none;
    background: #afafab /*#9b9b99*/;

}
.menu a {
	font-size: 22px;
    border-bottom: 2px solid transparent;
    margin-left: 40px;
    color: rgb(243, 243, 236);
	text-decoration: none;
	transition: all 0.3s ease;

    display: inline-block;
    padding: 10px 20px;
	border-radius: 100px;
    margin-right: 10px;
    text-decoration: none;
    background: #9b9b99;

}
.menu a:hover {
	border-bottom: 2px solid #8cda28/*#e48e2c*/;
    color:#8cda28;
    background-color: rgb(240, 243, 247);
}

.field{
    outline: none;
    border: 0px;
    border: solid 1px #99e438;
    border-radius: 4px;
    padding: 2px;
    margin-left: 0px;  

}
.field:focus{
background-color: #e4f3cf;
}
#boton{
    display: inline-block;
    padding: 10px 30px;
    border-radius: 100px;
    margin-right: 10px;
    font-size: 22px;
    border-bottom: 2px solid transparent;
    margin-left: 40px;
    color: rgb(243, 243, 236);
    background-color: #9b9b99;

}
/*son para los botones de reserva ahora y conocenos*/
#boton:hover {
    border-bottom: 2px solid  #8cda28/*#e48e2c*/;
    color:#8cda28;
    background-color: rgb(240, 243, 247);
}
/*para el inicio las letras */
footer{
    font-family: Georgia;
}

/*_________________________________________________________________________________________________________________________-*/
table{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;

}
td,th{
    border: 2px solid  #99e438;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
}
th{
    background-color: rgb(204, 199, 199);
    
}
